{% extends "base.html" %}
{% block formType %}Become Candidate{% endblock formType %}
{% block form %}
<div class="form-holder">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-primary alert-dismissible ml-5 mr-5">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h5 class="text-center">{{ message }}.</h5>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <div class="form-content">
    <div class="form-items">
      <h3>Become Candidate</h3>
      <p>Become A Candidate In This Poll</p>
      <div class="page-links">
        <a href="{{ url_for('club_poll_information') }}" class="m-3">Information</a><a href="{{ url_for('club_poll_voting') }}" class="m-3">Voting</a><a href="#" class="active m-3">Become Candidate</a>
      </div>
      <form method="post" action="{{url_for('club_poll_candidate_addding')}}">
        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
        <input class="form-control" type="text" name="kid" placeholder="KID" required>
        <label for="position" class="m-3">Post</label><br>
        <select name="post">
          <option value="0">President</option>
          <option value="1">1<sup>st</sup> Year Coordinator</option>
          <option value="2">2<sup>nd</sup> Year Coordinator</option>
          <option value="3">3<sup>rd</sup> Year Coordinator</option>
          <option value="4">Resource Manager</option>
        </select>
        <div class="form-button">
          <button id="submit" type="submit" class="ibtn">Register</button>

        </div>
      </form>
    </div>
  </div>
</div>
{% endblock form %}
